.company-promise {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin-top: 23px;
  padding: 43px 82px 43px 39px;
  background-color: #f6f6f6;
}

.company-promise .promise-item-icon {
  width: 58px;
  height: 50px;
  padding: 10px 14px;
  background-color: white;
}

.company-promise .promise-item-title {
  margin-top: 22px;
  font-size: 20px;
  line-height: 28px;
}

.company-promise .promise-item-description {
  margin-top: 17px;
}

@media screen and (min-width: 768px) {
  .company-promise {
    display: flex;
    flex-direction: row;
    gap: 43px;
    padding: 46px 168px;
    margin-top: 50px;
    margin: 0 64px;
  }
  .company-promise .promise-item {
    flex: 1;
  }
}
